<div class="container py-5">
  <div class="row">
    <div class="col-sm-100 col-md-100 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-9 my-9">
        <div class="card-body p-10 p-sm-9">
          <h1 class="card-title text-center mb-5 fw-light fs-5 py-3">
            <strong>Erro 404 Not Found</strong>
          </h1>
          <h5 align="center" class="py-2">A pagina solicitada não foi encontrada!</h5>
          <button (click)="onSubmit()" class="btn btn-lg btn-primary btn-block py-1">
            Ir para o login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
