<div class="container">
  <div class="row">
    <div class="col-sm-100 col-md-100 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-9 my-9">
        <div class="card-body p-10 p-sm-9">
          <h4 class="card-title text-center mb-5 fw-light fs-5">
            Historico de Consultas do paciente
          </h4>
          <form>
            <div class="form-group">
              <label for="paciente">Paciente: </label>
              <select (change)="setIdPaciente($event)" class="form-select" aria-label="Default select example">
                <option selected>Selecione uma opção</option>
                <option *ngFor="let p of pacientes;" [value]="p.id" name="paciente" id="paciente">{{p.nome}} - {{p.cpf}}</option>
              </select>
            </div>
          </form>
          <div class="container" *ngIf="consultas.length != 0">
            <h3>Historico de consultas</h3>
            <table class="table w-100">
              <thead class="thead-dark">
                <tr class="row m-0">
                  <th scope="col" class="col-md-1 text-start">#</th>
                  <th scope="col" class="col-md-2 text-center">Data</th>
                  <th scope="col" class="col-md-1 text-center">Hora</th>
                  <th scope="col" class="col-md-2 text-center">Caso</th>
                  <th scope="col" class="col-md-1 text-center">Medico</th>
                  <th scope="col" class="col-md-2 text-center">especialidade: </th>
                  <th scope="col" class="col-md-1 text-center">Ativo: </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of consultas; let i = index"  class="row m-0">
                  <td class="col-md-1 text-start">{{i}}</td>
                  <td class="col-md-2 text-center">{{c.data}}</td>
                  <td class="col-md-1 text-center">{{c.hora}}</td>
                  <td class="col-md-2 text-center">{{c.caso}}</td>
                  <td class="col-md-1 text-center">{{c.medico.nome}}</td>
                  <td class="col-md-2 text-center">{{c.medico.especialidade}}</td>
                  <td class="col-md-1">
                    <div>
                      <td *ngIf="c.status == true" class="col-md-1 text-center">
                        <i class="bi bi-check-circle"></i>
                      </td>
                      <td *ngIf="c.status == false" class="col-md-1">
                        <i class="bi bi-x-circle"></i>
                      </td>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
