<div class="container">
  <h3 class="">Listagem de pacientes</h3>
  <table class="table">
    <thead class="thead-dark ">
      <tr class="row m-0">
        <th scope="col" class="col-md-2" >ID</th>
        <th scope="col" class="col-md-2" >Nome</th>
        <th scope="col" class="col-md-2" >CPF</th>
        <th scope="col" class="col-md-2" >Telefone</th>
        <th scope="col" class="col-md-2" >ações</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pacientes" class="row m-0">
        <td class="col-md-2">{{p.id}}</td>
        <td class="col-md-2">{{p.nome}}</td>
        <td class="col-md-2">{{p.cpf}}</td>
        <td class="col-md-2">{{p.telefone}}</td>

        <td class="col-md-2">
          <div class="row d-flex gap-2">
            <button class="col-md-5" (click)="editar(p)">editar</button>
            <button class="col-md-5" (click)="deletar(p)">excluir</button>
          </div>

        </td>
      </tr>
    </tbody>
  </table>

</div>
