<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h1 class="card-title text-center mb-5 fw-light fs-5">
            Posto de Saúde do HUSM
          </h1>
          <form >
            <div class="form-group">
              <label for="login" class="form-group py-1">Login</label>
              <input [(ngModel)]="usuario.email" name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Entre com seu login">
            </div>
            <div class="form-group">
              <label for="senha" class="form-group py-1">Senha</label>
              <input [(ngModel)]="usuario.senha" name="senha" type="password" class="form-control" id="senha" placeholder="Digite sua senha">
            </div>
            <br>
            <button (click)="logar()" type="submit" class="btn btn-lg btn-primary btn-block" >Logar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
