<div class="container">
  <div class="row">
    <div class="col-sm-100 col-md-100 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-9 my-9">
        <div class="card-body p-10 p-sm-9">
          <h4 *ngIf="modo == 'CREATE'" class="card-title text-center mb-5 fw-light fs-5">
            Cadastrar Novo Medico
          </h4>
          <h4 *ngIf="modo == 'UPD'" class="card-title text-center mb-5 fw-light fs-5">
            Editar Informações do Medico
          </h4>
          <form>
            <div class="form-group py-1">
              <label for="nome">Nome: </label>
              <input [(ngModel)]="medico.nome" name="nome" type="text" class="form-control" id="nome" placeholder="Nome do Médico">
            </div>
            <div class="form-group py-1">
              <label for="especialidade">Especialidade: </label>
              <input [(ngModel)]="medico.especialidade" name="especialidade" type="text" class="form-control" id="especialidade" placeholder="Especialidade do Médico">
            </div>
            <div class="py-2">
              <button (click)="cadastrar()" *ngIf="modo == 'CREATE'" class="btn btn-lg btn-primary btn-block" >CADASTRAR</button>
              <button (click)="edit()" *ngIf="modo == 'UPD'" class="btn btn-lg btn-primary btn-block" >EDITAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
