<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto w-100" >
        <li class="nav-item active">
          <a class="nav-link" routerLink="/principal">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/paciente" href="#">cadastrar Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/listar/paciente" href="#">Listar Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/medico" href="#">cadastrar Medicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/listar/medico" href="#">Listar Medicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/consulta" href="#">Consulta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/listar/consulta" href="#">Listar Consultas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/historico/paciente" href="#">Listar Historico Consultas de paciente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/atendimentos/medico" href="#">Listar Historico atendimentos do medico</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
